body{
    max-width: 1500px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.title{
    color: navy;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 20px;
}

.nav{
    width: 30%;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    color: navy;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.img img{
    width: 100%;
}

.img{
    width: 50%;
    height: 50%;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 10;
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

p{
    display: flex;
    align-items: flex-end;
    font-size: 70px;
    font-family: sans-serif;
}

.navy{
    background-color: navy;
    width: 75%;
    height: 25%;
    padding: 100px 0;
    margin-left: 0px;
    z-index: 0;
}



